html {
	font-size: 20px;
}

body {
	font-family:ã€€"Arial", "Meiryo", sans-serif ;
	text-align: center ;
}

h1 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 2rem;
	letter-spacing: 1.2em;
	text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
	border-bottom: 3px solid rgb(115, 115, 114);
}

.blue {
	color: skyblue;
}

.pink {
	color:  rgb(255, 192, 203) ;
}

#basic>p {
	font-weight: bold;
}
